chardet
databricks-connect
dotenv
fastparquet
ipympl
ipywidgets
joblib
jupyterlab
matplotlib
mlxtend
notebook
numba
numpy
openpyxl
pandas
pyarrow
plotly
scikit-learn
scipy
seaborn
statsmodels
sympy
tqdm
xgboost
sentence-transformers
transformers
yfinance
